In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
import joblib

In [2]:
data = pd.read_csv("car data.csv")
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [3]:
data.shape

(301, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [6]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
data["Fuel_Type"].value_counts()

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

In [8]:
data["Seller_Type"].value_counts()

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

In [9]:
data["Transmission"].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [10]:
data["Fuel_Type"] = data["Fuel_Type"].map({"Petrol":0,"Diesel":1,"CNG":2})
data["Seller_Type"] = data["Seller_Type"].map({"Dealer":0,"Individual":1})
data["Transmission"] = data["Transmission"].map({"Manual":0,"Automatic":1})

In [11]:
x = data.drop(["Car_Name","Selling_Price"],axis=1).values
y = data["Selling_Price"].values

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
#from sklearn.linear_model import LinearRegression
#from sklearn.linear_model import Lasso
#from sklearn.tree import DecisionTreeRegressor
model = RandomForestRegressor(random_state=42)
model.fit(x_train,y_train)

RandomForestRegressor(random_state=42)

In [14]:
y_train_predicted = model.predict(x_train)

In [15]:
accuracy_score_for_training_data = r2_score(y_train,y_train_predicted)
accuracy_score_for_training_data

0.9840655518448314

In [16]:
y_test_predicted = model.predict(x_test)

In [17]:
accuracy_score_for_testing_data = r2_score(y_test,y_test_predicted)
accuracy_score_for_testing_data

0.9625164143622483

In [18]:
mse = mean_squared_error(y_train,y_train_predicted)
rmse = np.sqrt(mse)
rmse

0.6490453847446519

In [19]:
score = cross_val_score(model,x_train,y_train,scoring="neg_mean_squared_error",cv=10)
rmse_score = np.sqrt(-score)
print("rmse_score:\n",rmse_score)
print("rmse_mean:",rmse_score.mean())
print("rmse_std:",rmse_score.std())

rmse_score:
 [1.35792653 0.64555914 3.16246976 0.84944017 2.21419642 0.61609211
 2.58408239 0.95298029 1.46575529 0.6520609 ]
rmse_mean: 1.4500562999484015
rmse_std: 0.8601367581311045

In [20]:
model = joblib.dump(model,"model2_1.pkl")

In [21]:
final_model = joblib.load("model2_1.pkl")
final_model.predict([np.array([2014,5.59,27000,0,0,0,0])])

array([3.7985])